<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397501551685-icvbl3kf6mtb6g0coegugvf0gl830aqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397501551685-icvbl3kf6mtb6g0coegugvf0gl830aqp</string>
	<key>API_KEY</key>
	<string>AIzaSyDgzZPZwctWjgCGxEgqE5-mXBssp4l-5T8</string>
	<key>GCM_SENDER_ID</key>
	<string>397501551685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmedezzt.wallpaperApp4k</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-app-ahmed-ezzt</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-app-ahmed-ezzt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397501551685:ios:a699482763e54ee8413f2c</string>
</dict>
</plist>